.bg-dark {
  opacity: 0.75;
  background-color: #343a40;
}

.blur {
  filter: blur(0.5px);
}

.imagePDF {
  max-height: 174px;
  overflow: scroll;
}

.icons {
  justify-items: center;
  place-self: center;
  padding: 0.55rem;
}

/* this is the color class for header card */
.headerColor {
  background-color: rgb(0, 123, 255, 0.25);
}

/* viewports */
@media only screen and (min-width: 768px) {
  .root {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .myWork {
    grid-row: 1 / span 2;
    grid-column: 2;
  }
  .contactMe {
    grid-column: span 2;
  }
}
